.container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 56px;
    height: 100vh;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #9e30f4;
    width: 100%;
    margin-bottom: 20px;
}
.content {
    display: flex;
    flex-direction: column;
    overflow: auto;
}


.footer {
    width: 100%;
    min-height: 56px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.3) 0px -1px 8px;
    position: absolute;
    bottom: 0;
}