.footer {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*position: fixed;*/
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    bottom: 0;
    width: 100%;
    /*height: 10px;*/
    /*position: relative;*/
    flex: 1;
    margin-top: 20px;
}

.footer a {
    margin: 0 5px;
    color: #333;
    font-size: 12px;
    text-decoration: none;
}

.footer a:hover {
    color: #666;
}

.name{
    grid-gap: 1.5em;
    gap: 1.5em;
    padding: 0 27px;
}

.footer ul {
    list-style: none;
    padding: 0 12px;
    display: flex;
    margin: initial;
}

li {
    font-size: 12px;
    margin-right: 10px;
}

nav{
    display: flex;
    justify-content: space-between;
}

.notion {
    width: 17px;
    border-radius: 30%;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, .15));
}