.main-content {
    padding: 20px;
    margin-top: 70px;
    /*flex: 1;*/
    height: 100vh;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    right: -20px;
}

.search-bar input {
    padding: 15px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 35%;
}

.search-bar input:focus {
    outline: none;
    border-color: #ffab00;
}

.search-bar button {
    padding: 15px;
    border-radius: 25px;
    border: none;
    background-color: #ffab00;
    color: white;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #e09d00;
}

.recommendation-section {
    text-align: center;
    margin-bottom: 20px;
}

.recommendation-title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 120px;
    font-size: 24px;
}

.cards-container {
    display: flex;
    justify-content: center; /* 중앙 정렬을 원하면 'center'로 변경하세요 */
    flex-wrap: wrap;
    gap: 200px; /* 카드 사이의 간격을 조정할 수 있습니다. */
    padding-left: 15px; /* 필요하다면 이 값을 조정하세요. */
}

.card {
    width: 300px; /* 카드의 너비를 조정하세요. */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-bottom: 20px; /* 카드 사이의 수직 간격 */
}

.card h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 10px 0;
}

.card p {
    margin: 0 0 10px 0;
    color: black;
    font-weight: bold;
}

.card .author {
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 15px;
}